/*_*_*_*_*_* Fonts *_*_*_*_*_*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/* font-family: 'Outfit', sans-serif; */

/*_*_*_*_*_* Reset *_*_*_*_*_*/
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/*_*_*_*_*_* Main Styling *_*_*_*_*_*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background-color: var(--light-gray);
}

/*** Main ***/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);

    width: 20rem;
    height: 31.0625rem;
    border-radius: 0.625rem;

    text-align: center;
}

/*** QR Code ***/ 
section.image img {
    width: 18rem;
    height: 18rem;
    border-radius: 0.625rem;

    margin: 1rem 1rem 1.75rem;
}

/*** Text ***/ 

section.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.text h1 {
    font-weight: 700;
    font-size: 1.375rem;
    width: 18rem;
    margin-bottom: 1rem;
    color: var(--dark-blue);
}

section.text p {
    font-weight: 400;
    font-size: 0.9375rem;
    color: var(--grayish-blue);
    width: 16rem;
}
